.tmv-next-video-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;

    .tm-svg-fill {
        fill: #fff;
    }

    &.tmv-next-video-disable {
        cursor: inherit;
        
        .tm-svg-fill {
            fill: rgba(255,255,255,0.5);
        }
    }
}